<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <h1>Edit Task</h1>
    <form method="post" action="/tasks/<%= task.id %>?_method=PATCH">
        <input type="hidden" name="_method" value="PATCH">

        <label for="taskInput">Task:</label>
        <input type="text" id="taskInput" class="taskInput" name="taskInput" value="<%= task.taskInput %>">

        <label for="dueDate">Due Date:</label>
        <input type="date" id="dueDate" class="dueDate" name="dueDate" value="<%= task.dueDate %>">

        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="1" <%= task.category == '1' ? 'selected' : '' %>>Work</option>
            <option value="2" <%= task.category == '2' ? 'selected' : '' %>>Study</option>
            <option value="3" <%= task.category == '3' ? 'selected' : '' %>>Skincare</option>
        </select>

        <button type="submit">Save Changes</button>
        <a href="/tasks" class="back-btn">Go Back</a>
    </form>

    <script src="app.js"></script>
</body>
</html>
